* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
}

[class^="col"] {
  height: 150px;
  text-align: center;
  background-color: pink;
  border: 1px solid black;
  color: black;
}

.nested {
  background-color: hotpink;
  border: 3px solid pink;
}

p {
  margin-top: 75px;
}
